<launch>
    <!-- argument(s) which can be overridden -->
    <arg name="rviz" default="false" />
    <arg name="view_image" default="false" />
    <arg name="robot" default="titanium" />
    <arg name="tiago_start_pose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" />
    <arg name="extra_gazebo_args" default="" />

    <!-- launch TIAGo mapping using our arguments, which:
         - Runs the public simulation version (allows for multiple robot types
           and gmapping)
         - Uses the world 'small_office', used as the demo for this project
         - Spawns the robot at the specified Cartesian pose
         - Tucks in the arm on start
         - Optionally opens RViz of the navigation's sensing
    -->
    <include file="$(find tiago_2dnav_gazebo)/launch/tiago_mapping.launch">
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
        <arg name="gzpose" value="$(arg tiago_start_pose)" />
        <arg name="namespace" value="/" />
        <arg name="public_sim" value="true" />
        <arg name="recording" value="false" />
        <arg name="robot" value="$(arg robot)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="tuck_arm" value="true" />
        <arg name="world" value="small_office" />
    </include>

    <!-- if desired, show the TIAGo's raw image output -->
    <node name="tiago_image_view"
          pkg="image_view"
          type="image_view"
          args="image:=/xtion/rgb/image_raw"
          if="$(arg view_image)"
    />
    <node pkg = "enpm808x_final_inspection_robot"
		type = "can_characterizer"
		name = "can_characterizer"
		output = "screen"/>
</launch>
